{% extends "base.html" %}
{% block title %}Zitat Einreichen - BundesEcho{% endblock %}

{% block content %}
<div class="container my-4">
  {% if quoteid %}
    <h2>Bearbeite dieses Zitat</h2>
  {% else %}
    <h2>Reiche ein Zitat ein</h2>
  {% endif %}

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{ url_for('quote.submit_quote') }}" novalidate>
    <input type="hidden" name="quoteid" value="{{ quoteid }}">

    <div class="mb-3">
      <label for="text" class="form-label">
        Aussage
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Keine Anführungszeichen. Änderungen oder Weglassungen mit eckigen Klammern kennzeichnen.">
        </i>
      </label>
      <textarea id="text" name="text" rows="4" class="form-control" placeholder="Das hier ist nur ein Beispiel für eine Aussage. [...] Und da bin ich mir sicher.">{{ form_data.text if form_data else '' }}</textarea>
    </div>

    <!-- Add a checkbox if quuote is from a different language, if yes show fields orig_lang, orig_text -->
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="1" id="is_translation" name="is_translation" {% if form_data and form_data.is_translation %}checked{% endif %}>
      <label class="form-check-label" for="is_translation">
        Das Zitat ist eine Übersetzung
      </label>
    </div>

    <div id="translation_fields">
      <div class="mb-3">
        <input type="text" id="orig_lang" name="orig_lang" class="form-control" maxlength="2"
          placeholder="Originalsprache (z.B. 'en' für Englisch)" value="{{ form_data.orig_lang if form_data else '' }}">
      </div>
      <div class="mb-3">
        <textarea id="orig_text" name="orig_text" rows="4" class="form-control" maxlength="1000"
          placeholder="Originaltext eingeben...">{{ form_data.orig_text if form_data else '' }}</textarea>
      </div>
    </div>  

    <div class="form-group mb-3">
      <label for="person">
        Person
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Keine Titel wie 'Dr. Max Mustermann'. Zweitnamen sind erlaubt, falls die Person aber vorgeschlagen wird, bitte die Schreibweise verwenden.">
        </i>
      </label>
      <input type="text" id="person" name="person" class="form-control" placeholder="Max Mustermann"
      value="{{ form_data.person if form_data else '' }}" autocomplete="off">
      <ul id="person-suggestions" class="suggestions-list"></ul>
    </div>

    <div class="mb-3">
      <label for="context" class="form-label">
        Kontext (optional)
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Wo und in welcher Situation wurde es gesagt? Gibt es Begriffe die es zu erklären gilt?">
        </i>
      </label>
      <textarea class="form-control" id="context" name="context" 
        placeholder="bei BeispielZeitung im Interview: Über dies und jenes" rows="3">{{ form_data.context if form_data else '' }}</textarea>
    </div>

    <div class="mb-3">
      <label for="source" class="form-label">
        Quelle
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Gib einen Link oder eine Quelle an, von Artikeln oder Videos, die die Aussagen belegen. Am Besten sind Links, die mit archive.org gesichert worden sind.">
        </i>
      </label>
      <input id="source" name="source" type="text" class="form-control" value="{{ form_data.source if form_data else '' }}" 
      placeholder="https://www.beispiel-zeitung.de/diesundjenes" autocomplete="off">
    </div>

    <div class="mb-3">
      <label for="secondary_source" class="form-label">
        Sekundäre Quelle (optional)
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Gib einen Link zu einer archivierten Version der Quelle an, z.B. über archive.org. Das erhöht die Chance, dass die Quelle auch in Zukunft noch zugänglich ist.">
        </i>
      </label>
      <input id="secondary_source" name="secondary_source" type="text" class="form-control" value="{{ form_data.secondary_source if form_data else '' }}" 
      placeholder="https://archive.org/details/https://www.beispiel-zeitung.de/diesundjenes" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="tags-input">
        Tags
        <i class="bi bi-info-circle-fill ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Tag mit Enter hinzufügen oder aus Liste auswählen.">
        </i>
      </label>
      <input type="text" id="tags-input" class="form-control" placeholder="" autocomplete="off">
      <ul id="tag-suggestions" class="suggestions-list"></ul>
      <div id="selected-tags" class="selected-tags"></div>
      <input type="hidden" name="tags" id="tags-hidden" value="{{ form_data.tags if form_data else '' }}">
    </div>

    <div class="mb-3">
      <label for="date_said" class="form-label">Datum der Aussage</label>
      <input type="date" class="form-control" id="date_said" name="date_said" value="{{ form_data.date_said if form_data else '' }}">
    </div>

    <button type="submit" class="btn btn-bg btn-outline-light">Einreichen</button>
  </form>
</div>

<script src="{{ url_for('static', filename='js/tag-autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/person-autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/tooltip.js') }}"></script>

    <script>
      document.getElementById('is_translation').addEventListener('change', function() {
        var translationFields = document.getElementById('translation_fields');
        if (this.checked) {
          translationFields.style.display = 'block';
        } else {
          translationFields.style.display = 'none';
          // Clear the values of the translation fields when hiding
          document.getElementById('orig_lang').value = '';
          document.getElementById('orig_text').value = '';
        }
      });

      // On page load, check the state of the checkbox to set the initial visibility of the translation fields
      window.addEventListener('load', function() {
        var isTranslationChecked = document.getElementById('is_translation').checked;
        var translationFields = document.getElementById('translation_fields');
        if (isTranslationChecked) {
          translationFields.style.display = 'block';
        } else {
          translationFields.style.display = 'none';
        }
      });
</script>
{% endblock %}